<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Slapbot | Message History</title>

</head>
<body>
<h1>Message History</h1>
<div th:if="${loggedMessage}">
    <div>
        <h2>Message Stats</h2>
        <strong>Message ID: </strong><span th:text="${loggedMessage.getId()}"></span><br>
        <strong>User ID: </strong><span th:text="${loggedMessage.getUserId()}"></span><br>
        <strong>Channel ID: </strong><span th:text="${loggedMessage.getChannelId()}"></span><br>
        <strong>Jump URL: </strong><a th:href="${loggedMessage.getJumpUrl()}"
                                      th:text="${loggedMessage.getJumpUrl()}"></a><br>
        <br>
        <div th:with="deleted = ${loggedMessage.isDeleted()}">
            <div th:if="${deleted}">
                <strong>Deleted: </strong><span>True</span>
            </div>
            <div th:unless="${deleted}">
                <strong>Deleted: </strong><span>False</span>
            </div>
        </div>
        <br>
    </div>

    <div th:with="history = ${loggedMessage.getContentHistory()}">
        <h2>Content History</h2>
        <div th:each="entry : ${history}" style="border: 1px solid black;margin: 5px;">
            <strong>Edit #: </strong><span th:text="${history.indexOf(entry)}"></span><br>
            <strong>Message:</strong><br><span th:text="${entry.getContentRaw()}" style="word-wrap: break-word;"></span><br>
        </div>
    </div>

    <div th:with="attachments = ${loggedMessage.getAttachmentList()}">
        <h2 th:if="${attachments.size() > 0}">Attachments</h2>
        <div th:each="entry : ${attachments}" style="border: 1px solid black;margin: 5px;">
            <strong>File name: </strong><span th:text="${entry.getName()}"></span><br>
            <strong>Attachment ID: </strong><span th:text="${entry.getId()}"></span><br>
            <strong>Content Type: </strong><span th:text="${entry.getContentType()}"></span><br>
            <strong>URL: </strong><a th:href="@{/attachments/{id}(id=${entry.getId()})}">Link to content</a><br>

            <br>
            <div th:with="deleted = ${entry.isDeleted()}">
                <div th:if="${deleted}">
                    <strong>Deleted: </strong><span>True</span>
                </div>
                <div th:unless="${deleted}">
                    <strong>Deleted: </strong><span>False</span>
                </div>
            </div>
            <br>

            <img th:if="${entry.getContentType().contains('image')}" th:src="@{/attachments/{id}(id=${entry.getId()})}" />

            <video th:if="${entry.getContentType().contains('video')}" controls>
                <source th:src="@{/attachments/{id}(id=${entry.getId()})}" th:type="${entry.getContentType()}">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

</body>
</html>
